	<section id="seccionContinua">
		<article>
			<h2>Cálculos de Tensión</h2>
			<div class="calculos">
				<h3>Cálculos de Tensión</h3>
				<div class="nota">
					<button title="Cerrar nota" class="cerrarNota icon-close"></button>
					¡Simplemente ingresa los valores conoces y presiona Calcular para obtener el resultado!
				</div>
				<input type="text" class="mitad" placeholder="Potencia" id="tensionMonoContinua_potencia" />
				<input type="text" class="mitad" placeholder="Resistencia" id="tensionMonoContinua_resistencia" />
				<input type="text" class="completo" placeholder="Intensidad" id="tensionMonoContinua_intensidad" />
				<button class="btnExito" onclick="tensionMonoContinua()">Calcular</button>
				<input type="text" class="completo" placeholder="Resultado" id="tensionMonoContinua_resultado" />
			</div>
		</article>
		<article>
			<h2>Cálculos de Resistencia</h2>
			<div class="calculos">
				<h3>Cálculos de Resistencia</h3>
				<div class="nota">
					<button title="Cerrar nota" class="cerrarNota icon-close"></button>
					¡Simplemente ingresa los valores conoces y presiona Calcular para obtener el resultado!
				</div>
				<input type="text" class="mitad" placeholder="Potencia" id="resistenciaMonoContinua_potencia" />
				<input type="text" class="mitad" placeholder="Intensidad" id="resistenciaMonoContinua_intensidad" />
				<input type="text" class="completo" placeholder="Tensión" id="resistenciaMonoContinua_tension" />
				<button class="btnExito" onclick="resistenciaMonoContinua()">Calcular</button>
				<input type="text" class="completo" placeholder="Resultado" id="resistenciaMonoContinua_resultado" />
			</div>
		</article>
		<article>
			<h2>Cálculos de Intensidad</h2>
			<div class="calculos">
				<h3>Cálculos de Intensidad</h3>
				<div class="nota">
					<button title="Cerrar nota" class="cerrarNota icon-close"></button>
					¡Simplemente ingresa los valores conoces y presiona Calcular para obtener el resultado!
				</div>
				<input type="text" class="mitad" placeholder="Tensión" id="intensidadMonoContinua_tension" />
				<input type="text" class="mitad" placeholder="Resistencia" id="intensidadMonoContinua_resistencia" />
				<input type="text" class="completo" placeholder="Potencia" id="intensidadMonoContinua_potencia" />
				<button class="btnExito" onclick="intensidadMonoContinua()">Calcular</button>
				<input type="text" class="completo" placeholder="Resultado" id="intensidadMonoContinua_resultado" />
			</div>
		</article>
		<article>
			<h2>Cálculos de Potencia</h2>
			<div class="calculos">
				<h3>Cálculos de Potencia</h3>
				<div class="nota">
					<button title="Cerrar nota" class="cerrarNota icon-close"></button>
					¡Simplemente ingresa los valores conoces y presiona Calcular para obtener el resultado!
				</div>
				<input type="text" class="mitad" placeholder="Tensión" id="potenciaActivaMonoContinua_tension" />
				<input type="text" class="mitad" placeholder="Resistencia" id="potenciaActivaMonoContinua_resistencia" />
				<input type="text" class="completo" placeholder="Intensidad" id="potenciaActivaMonoContinua_intensidad" />
				<button class="btnExito" onclick="potenciaActivaMonoContinua()">Calcular</button>
				<input type="text" class="completo" placeholder="Resultado" id="potenciaActivaMonoContinua_resultado" />
			</div>
		</article>
	</section>