<section id="inicia">
	<article>
		<h2>Bienvenido a Elecalc</h2>
		<div class="calculos">
			<h3>Bienvenido a Elecalc</h3>
			<p>
				Elecalc es una aplicación web desarrollada con propósitos de aprendizaje donde cualquier persona puede realizar de forma simple y sencilla cálculos de electricidad.
			</p>
			<p>
				La aplicación esta optimizada para el funcionamiento en celulares y tablets, por lo que en computadoras de escritorio y portátiles se ve con mucho espacio de sobra.
			</p>
			<p>
				Para poder empezar a utilizar Elecalc solo necesita ir al engranaje que esta arriba a la derecha y elegir que tipo de cálculos quiere realizar y luego guardar la configuración, esto cambiará, sin necesidad de que recarge el navegador, la lista de cálculos disponibles.
			</p>
		</div>
	</article>
</section>