	<section id="seccionTrifasica">
		<article>
			<h2>Cálculos de Tensión</h2>
			<div>
				<h3>Fórmula 1</h3>
				<input type="text" class="mitad" id="campo73" placeholder="Potencia" />
				<input type="text" class="mitad" id="campo74" placeholder="Resitencia" />
				<button class="btnExito" onclick="tension(7)">Calcular</button>
				<input type="text" class="completo" placeholder="Resultado" id="resultado31" />
			</div>
			<div>
				<h3>Fórmula 2</h3>
				<input type="text" class="mitad" id="campo75" placeholder="Potencia" />
				<input type="text" class="mitad" id="campo76" placeholder="Intensidad" />
				<button class="btnExito" onclick="tension(8)">Calcular</button>
				<input type="text" class="completo" placeholder="Resultado" id="resultado32" />
			</div>
			<div>
				<h3>Fórmula 3</h3>
				<input type="text" class="mitad" id="campo77" placeholder="Intensidad" />
				<input type="text" class="mitad" id="campo78" placeholder="Resistencia" />
				<button class="btnExito" onclick="tension(9)">Calcular</button>
				<input type="text" class="completo" placeholder="Resultado" id="resultado33" />
			</div>
		</article>
		<article>
			<h2>Cálculos de Resistencia</h2>
			<div>
				<h3>Fórmula 1</h3>
				<input type="text" class="mitad" id="campo79" placeholder="Potencia" />
				<input type="text" class="mitad" id="campo80" placeholder="Intensidad" />
				<button class="btnExito" onclick="resistencia(7)">Calcular</button>
				<input type="text" class="completo" placeholder="Resultado" id="resultado34" />
			</div>
			<div>
				<h3>Fórmula 2</h3>
				<input type="text" class="mitad" id="campo81" placeholder="Tensión" />
				<input type="text" class="mitad" id="campo82" placeholder="Potencia" />
				<button class="btnExito" onclick="resistencia(8)">Calcular</button>
				<input type="text" class="completo" placeholder="Resultado" id="resultado35" />
			</div>
			<div>
				<h3>Fórmula 3</h3>
				<input type="text" class="mitad" id="campo83" placeholder="Tensión" />
				<input type="text" class="mitad" id="campo84" placeholder="Intensidad" />
				<button class="btnExito" onclick="resistencia(9)">Calcular</button>
				<input type="text" class="completo" placeholder="Resultado" id="resultado36" />
			</div>
		</article>
		<article>
			<h2>Cálculos de Intensidad</h2>
			<div>
				<h3>Fórmula 1</h3>
				<input type="text" class="mitad" id="campo85" placeholder="" />
				<input type="text" class="mitad" id="campo86" placeholder="" />
				<button class="btnExito" onclick="">Calcular</button>
				<input type="text" class="completo" placeholder="Resultado" id="resultado37" />
			</div>
			<div>
				<h3>Fórmula 2</h3>
				<input type="text" class="mitad" id="campo87" placeholder="" />
				<input type="text" class="mitad" id="campo88" placeholder="" />
				<button class="btnExito" onclick="">Calcular</button>
				<input type="text" class="completo" placeholder="Resultado" id="resultado38" />
			</div>
			<div>
				<h3>Fórmula 3</h3>
				<input type="text" class="mitad" id="campo89" placeholder="" />
				<input type="text" class="mitad" id="campo90" placeholder="" />
				<button class="btnExito" onclick="">Calcular</button>
				<input type="text" class="completo" placeholder="Resultado" id="resultado39" />
			</div>
		</article>
		<article>
			<h2>Cálculos de Potencia</h2>
			<div>
				<h3>Fórmula 1</h3>
				<input type="text" class="mitad" id="campo91" placeholder="" />
				<input type="text" class="mitad" id="campo92" placeholder="" />
				<button class="btnExito" onclick="">Calcular</button>
				<input type="text" class="completo" placeholder="Resultado" id="resultado40" />
			</div>
			<div>
				<h3>Fórmula 2</h3>
				<input type="text" class="mitad" id="campo93" placeholder="" />
				<input type="text" class="mitad" id="campo94" placeholder="" />
				<button class="btnExito" onclick="">Calcular</button>
				<input type="text" class="completo" placeholder="Resultado" id="resultado41" />
			</div>
			<div>
				<h3>Fórmula 3</h3>
				<input type="text" class="mitad" id="campo95" placeholder="" />
				<input type="text" class="mitad" id="campo96" placeholder="" />
				<button class="btnExito" onclick="">Calcular</button>
				<input type="text" class="completo" placeholder="Resultado" id="resultado42" />
			</div>
		</article>
	</section>