// Mixins creados por @sergiodxa
absolute(b,l,r,t)
	bottom b
	left l
	position absolute
	right r
	top t
animation()
	-webkit-animation arguments
	-moz-animation arguments
	-o-animation arguments
	animation arguments
borderRadius()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	border-radius arguments
boxShadow()
	-webkit-box-shadow arguments
	-moz-box-shadow arguments
	box-shadow arguments
boxSizing()
	-webkit-box-sizing border-box
	-moz-box-sizing border-box
	box-sizing border-box
fixed(b,l,r,t)
	bottom b
	left l
	position fixed
	right r
	top t
transform()
	-webkit-transform arguments
	-moz-transform arguments
	-ms-transform arguments
	-o-transform arguments
	transform arguments
transition()
	-webkit-transition arguments
	-moz-transition arguments
	-ms-transition arguments
	-o-transition arguments
	transition arguments