#btnGuardar
	margin .5em auto .25em
#cerrarConfig
.cerrarNota
.icon-github
	border-radius 50%
	cursor pointer
	padding .5em
	transition all .125s ease
#cerrarConfig
.icon-github
	background blanco
	border 1px solid gris
	border-radius 50%
	color negro
	cursor pointer
	font-size 1.25em
	padding .5em
	position absolute
	top .5em
	transition all .125s ease
#cerrarConfig
	right .5em
	&:active
		color rojo
#config
	background blanco
	color negro
	display none
	fixed bottom 10% left 30% right 30% top 10%
	opacity 0
	overflow-y auto
	transition .5s all
	z-index 3
	&.activo
		display block
		opacity 1
	h2
		border-bottom 1px solid gris
		color negro
		line-height 62px
		margin 0
		padding 0
		text-align center
#navegadorAntiguo
	background blanco
	color negro
	display none
	fixed bottom 0 left 0 right 0 top 0
#shadow
	background rgba(negro,.75)
	display none
	opacity 0
	position fixed
	fixed bottom left right top
	transition .5s all
	z-index 2
	&.activo
		display block
		opacity 1