@import url("http://fonts.googleapis.com/css?family=Droid+Sans");
@font-face{font-family:'iconFont';src:url("../fonts/iconFont.eot");src:url("../fonts/iconFont.eot?#iefix") format('embedded-opentype'),url("../fonts/iconFont.ttf") format('truetype'),url("../fonts/iconFont.woff") format('woff'),url("../fonts/iconFont.svg#iconFont") format('svg');font-weight:normal;font-style:normal}
a{color:#1e90ff;text-decoration:none;}
a:visited{color:#7b68ee}
a:hover{text-decoration:underline}
a:active{color:#7b68ee;text-decoration:underline}
article{background:#fdfdfd;border-bottom:1px solid #c0c0c0;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;margin:0;overflow:hidden;padding:0 .25rem;vertical-align:top;width:100%;}
article h2{cursor:pointer;font-size:1.25rem;line-height:40px;margin:0;padding:0;}
article h2:before{content:"\e604";font-family:'iconFont';font-size:.75em;padding:0 .5em 0 0}
body{font-family:'Droid Sans',sans-serif;font-size:16px}
button:focus{outline:0}
footer{background:#101010;bottom:0;color:#fdfdfd;left:0;position:fixed;right:0;text-align:center}
h1{color:#f17432;font-size:1.5em;font-style:italic;line-height:2.5em;margin:0;padding:0;text-align:center}
h3{cursor:pointer;font-size:1.25rem;line-height:40px;margin:0;padding:0;}
h3:before{content:"\e605";font-family:'iconFont';font-size:.75em;padding:0 .5em 0 0}
header{background:#101010;color:#fdfdfd;left:0;position:fixed;right:0;top:0}
input:-ms-input-placeholder{color:#101010}
input::-webkit-input-placeholder{color:#101010}
input:-moz-placeholder{color:#101010}
input::-moz-placeholder{color:#101010}
input[type="radio"]{display:none}
label{border-bottom:1px solid #c0c0c0;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;cursor:pointer;display:block;font-size:0;margin:0;padding:.5rem 0;width:100%;}
label.activo{background:#fbab3b}
p{font-size:1rem;line-height:2.5em;margin:0;padding:0;}
p a{color:#00aced}
section{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;font-size:0;overflow-y:auto;position:fixed;bottom:40px;left:0;right:0;top:60px;}
span{display:inline-block;font-size:16px;padding:.25em}
::-webkit-scrollbar{display:none}
#btnGuardar{margin:.5em auto .25em}
#cerrarConfig,.cerrarNota,.icon-github{-webkit-border-radius:50%;border-radius:50%;cursor:pointer;padding:.5em;-o-transition:all 0.125s ease;-ms-transition:all 0.125s ease;-moz-transition:all 0.125s ease;-webkit-transition:all 0.125s ease;transition:all 0.125s ease}
#cerrarConfig,.icon-github{background:#fdfdfd;border:1px solid #c0c0c0;-webkit-border-radius:50%;border-radius:50%;color:#101010;cursor:pointer;font-size:1.25em;padding:.5em;position:absolute;top:.5em;-o-transition:all 0.125s ease;-ms-transition:all 0.125s ease;-moz-transition:all 0.125s ease;-webkit-transition:all 0.125s ease;transition:all 0.125s ease}
#cerrarConfig{right:.5em;}
#cerrarConfig:active{color:#d00}
#config{background:#fdfdfd;color:#101010;display:none;position:fixed;bottom:10%;left:30%;right:30%;top:10%;opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);overflow-y:auto;-o-transition:0.5s all;-ms-transition:0.5s all;-moz-transition:0.5s all;-webkit-transition:0.5s all;transition:0.5s all;z-index:3;}
#config.activo{display:block;opacity:1;-ms-filter:none;filter:none}
#config h2{border-bottom:1px solid #c0c0c0;color:#101010;line-height:62px;margin:0;padding:0;text-align:center}
#navegadorAntiguo{background:#fdfdfd;color:#101010;display:none;position:fixed;bottom:0;left:0;right:0;top:0;}
#shadow{background:rgba(16,16,16,0.75);display:none;opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);position:fixed;position:fixed;bottom:0;left:0;right:0;top:0;-o-transition:0.5s all;-ms-transition:0.5s all;-moz-transition:0.5s all;-webkit-transition:0.5s all;transition:0.5s all;z-index:2;}
#shadow.activo{display:block;opacity:1;-ms-filter:none;filter:none}
[class^="btn"],[class*=" btn"]{background:#101010;border:0;color:#fdfdfd;display:block;line-height:2em;margin:0 auto;-o-transition:all 0.25s ease;-ms-transition:all 0.25s ease;-moz-transition:all 0.25s ease;-webkit-transition:all 0.25s ease;transition:all 0.25s ease;width:70%}
[class^="icon-"],[class*=" icon-"]{font-family:'iconFont';-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-style:normal;font-variant:normal;font-weight:normal;line-height:1;speak:none;text-transform:none}
.btnExito{background:#0a0;}
.btnExito:hover{-webkit-box-shadow:0 0 .25em #0a0;box-shadow:0 0 .25em #0a0}
.calculos{background:#fdfdfd;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;position:fixed;bottom:40px;left:100%;right:-100%;top:60px;font-size:0;margin:0;overflow-y:auto;padding:0 .25rem;-o-transition:all 0.25s ease;-ms-transition:all 0.25s ease;-moz-transition:all 0.25s ease;-webkit-transition:all 0.25s ease;transition:all 0.25s ease;z-index:2;}
.calculos.activo{position:fixed;left:0;right:0;}
.calculos button,.calculos input{font-size:1rem}
.cerrarNota{background:#d00;border:0;color:#fdfdfd;font-size:.75em;position:absolute;right:-.5em;top:-.5em;}
.cerrarNota:active{font-size:16px;right:-.75em;top:-.75em;position:absolute;right:-.75em;top:-.75em;}
.completo,.mitad{background:#fdfdfd;border:1px solid #c0c0c0;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;color:#101010;margin:.5em 1%;padding:.5em .25em;text-align:center}
.completo{display:block;width:98%}
.icon-close:before{content:"\e601"}
.icon-config{background:#fdfdfd;border:0;-webkit-border-radius:1em;border-radius:1em;color:#101010;cursor:pointer;font-size:1.5em;padding:.25em;position:absolute;right:.5em;top:.5em;}
.icon-config:before{content:"\e600"}
.icon-config:hover{-o-animation:rotar 2.25s linear 0s infinite;-ms-animation:rotar 2.25s linear 0s infinite;-moz-animation:rotar 2.25s linear 0s infinite;-webkit-animation:rotar 2.25s linear 0s infinite;animation:rotar 2.25s linear 0s infinite}
.icon-github{left:.5em;text-decoration:none;}
.icon-github:active{color:#4183c4}
.icon-github:before{content:"\e602"}
.icon-twitter:before{content:"\e603";vertical-align:middle}
.mitad{display:inline-block;width:48%}
.nota{background:#fbab3b;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;color:#101010;display:block;font-size:14px;line-height:2em;margin:.5em 10%;padding:.5em .25em;position:relative;text-align:center;width:80%}
@media screen and (max-width: 640px){#config{position:fixed;bottom:2.5%;left:2.5%;right:2.5%;top:2.5%;}
}@-moz-keyframes rotar{0%{-o-transform:rotate(0);-ms-transform:rotate(0);-moz-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}
100%{-o-transform:rotate(360deg);-ms-transform:rotate(360deg);-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg);transform:rotate(360deg)}
}@-webkit-keyframes rotar{0%{-o-transform:rotate(0);-ms-transform:rotate(0);-moz-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}
100%{-o-transform:rotate(360deg);-ms-transform:rotate(360deg);-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg);transform:rotate(360deg)}
}@-o-keyframes rotar{0%{-o-transform:rotate(0);-ms-transform:rotate(0);-moz-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}
100%{-o-transform:rotate(360deg);-ms-transform:rotate(360deg);-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg);transform:rotate(360deg)}
}@-ms-keyframes rotar{0%{-o-transform:rotate(0);-ms-transform:rotate(0);-moz-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}
100%{-o-transform:rotate(360deg);-ms-transform:rotate(360deg);-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg);transform:rotate(360deg)}
}@keyframes rotar{0%{-o-transform:rotate(0);-ms-transform:rotate(0);-moz-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}
100%{-o-transform:rotate(360deg);-ms-transform:rotate(360deg);-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg);transform:rotate(360deg)}
}