a
	color #1E90FF
	text-decoration none
	&:visited
		color violeta
	&:hover
		text-decoration underline
	&:active
		color violeta
		text-decoration underline
article
	background blanco
	border-bottom 1px solid gris
	box-sizing border-box
	margin 0
	overflow hidden
	padding 0 .25rem
	vertical-align top
	width 100%
	h2
		cursor pointer
		font-size 1.25rem
		line-height 40px
		margin 0
		padding 0
		&:before
			content "\e604"
			font-family 'iconFont'
			font-size .75em
			padding 0 .5em 0 0
body
	font-family 'Droid Sans', sans-serif
	font-size fs
button:focus
	outline 0
footer
	background negro
	bottom 0
	color blanco
	left 0
	position fixed
	right 0
	text-align center
h1
	color #f17432
	font-size 1.5em
	font-style italic
	line-height 2.5em
	margin 0
	padding 0
	text-align center
h3
	cursor pointer
	font-size 1.25rem
	line-height 40px
	margin 0
	padding 0
	&:before
		content "\e605"
		font-family 'iconFont'
		font-size .75em
		padding 0 .5em 0 0
header
	background negro
	color blanco
	left 0
	position fixed
	right 0
	top 0
input:-ms-input-placeholder
	color negro
input::-webkit-input-placeholder
	color negro
input:-moz-placeholder
	color negro
input::-moz-placeholder
	color negro
input[type="radio"]
	display none
label
	border-bottom 1px solid gris
	box-sizing border-box
	cursor pointer
	display block
	font-size 0
	margin 0
	padding .5rem 0
	width 100%
	&.activo
		background amarillo
p
	font-size 1rem
	line-height 2.5em
	margin 0
	padding 0
	a
		color #00ACED
section
	box-sizing border-box
	font-size 0
	overflow-y auto
	fixed bottom 40px left right top 60px
span
	display inline-block
	font-size fs
	padding .25em
::-webkit-scrollbar
	display none